# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# backup
backup
.vs

# sitemap
public/*.xml

# prisma generated
prisma/client

# migration
migrate/lib.ts
migrate/*.json

# docs
docs
