html {
  --kungalgame-gray-4: #bcc8d4;

  --kungalgame-blue-1: #b6e3ff;
  --kungalgame-blue-2: #80ccff;
  --kungalgame-blue-3: #54aeff;
  --kungalgame-blue-4: #218bff;

  --kungalgame-green-4: #2da44e;

  --kungalgame-yellow-2: #fcd554;
  --kungalgame-yellow-3: #d4a72c;

  --kungalgame-red-1: #ffcecb;
  --kungalgame-red-2: #ffaba8;
  --kungalgame-red-3: #ff8182;
  --kungalgame-red-4: #fa4549;
  --kungalgame-red-5: #cf222e;

  --kungalgame-purple-4: #a475f9;

  --kungalgame-pink-0: #ffeff7;
  --kungalgame-pink-3: #ff80c8;
  --kungalgame-pink-4: #e85aad;

  --kungalgame-trans-white-9: #ffffff00;

  --kungalgame-trans-blue-3: #54aeff77;
  --kungalgame-trans-blue-4: #218bff77;

  --kungalgame-trans-red-0: #ffebe977;
  --kungalgame-trans-red-1: #ffcecb77;
  --kungalgame-trans-red-2: #ffaba877;
  --kungalgame-trans-red-3: #ff818277;
  --kungalgame-trans-red-4: #fa454977;

  --kungalgame-trans-pink-2: #ffadda77;

  /* Shadow */
  --kungalgame-mask-color-0: #00000077;
  --shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
  --kungalgame-shadow-0: 0px 0px 12px rgba(0, 0, 0, 0.2);
  --kungalgame-shadow-1: 0px 0px 17px var(--kungalgame-trans-blue-3);
}
