html.dark {
  --kungalgame-font-color-0: #b3b3b3;
  --kungalgame-font-color-1: #c5c5c5;
  --kungalgame-font-color-2: #dddddd;
  --kungalgame-font-color-3: #e0e0e0;

  --kungalgame-white: #182533;

  --kungalgame-trans-white-2: #0d2034d9;
  --kungalgame-trans-white-5: #0d20348e;

  --kungalgame-blue-0: #00479e;
  --kungalgame-blue-5: var(--kungalgame-blue-1);

  --kungalgame-red-0: #52000c;

  --kungalgame-trans-blue-0: #09132077;
  --kungalgame-trans-blue-1: #5288c177;
  --kungalgame-trans-blue-2: #0c4cac77;

  --kungalgame-trans-pink-0: #21131a77;
  --kungalgame-trans-pink-1: #aa608477;
}
