@mixin kun-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin kun-blur {
  backdrop-filter: blur(var(--kun-background-blur));

  color: var(--kungalgame-font-color-3);
  background-color: var(--kungalgame-trans-white-5);
  border-radius: 10px;
  box-shadow: var(--shadow);
}

@mixin kun-box-shadow(
  $x: 0,
  $y: 2px,
  $blur: 8px,
  $spread: 0,
  $color: rgba(0, 0, 0, 0.15)
) {
  box-shadow: $x $y $blur $spread $color;
}
