.kun-dark-mode {
  --kungalgame-font-color-0: #b3b3b3;
  --kungalgame-font-color-1: #c5c5c5;
  --kungalgame-font-color-2: #dddddd;
  --kungalgame-font-color-3: #e0e0e0;

  --kungalgame-white: #0f1720;

  --kungalgame-blue-0: #00152e;
  --kungalgame-blue-5: var(--kungalgame-blue-2);

  --kungalgame-red-0: #52000c;

  --kungalgame-trans-white-2: #0d2034d9;
  --kungalgame-trans-white-5: #0f253d8e;

  --kungalgame-trans-blue-0: #09132077;
  --kungalgame-trans-blue-1: #3d608477;
  --kungalgame-trans-blue-2: #0b397e77;

  --kungalgame-trans-pink-0: #21131a77;
  --kungalgame-trans-pink-1: #aa608477;
}
