@import 'katex/dist/katex.min.css';

.milkdown {
  --crepe-color-primary: var(--color-foreground);

  span[data-type='math_inline'] {
    padding: 0 4px;
    display: inline-block;
    vertical-align: bottom;
    color: var(--crepe-color-primary);
  }
}
